::before,
::after,
* {
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  box-sizing: border-box;
}

:root {
  --spacing-s: 5px;
  --spacing-m: 10px;
  --spacing-l: 15px;
  --spacing-xl: 20px;
}

body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

header {
  padding: var(--spacing-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  /* width: 50%; */
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header ul li {
  background-color: rgb(65, 65, 65);
  padding: var(--spacing-s);
  margin: 0 var(--spacing-xl);
  border-radius: var(--spacing-s);
}

header ul a {
  color: white;
  text-decoration: none;
}

header .logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header button {
  padding: var(--spacing-s);
  border-radius: var(--spacing-s);
  border: none;
  background-color: black;
  cursor: pointer;
  color: white;
}

main {
  padding-top: var(--spacing-xl);
}

main .errors-container {
  text-align: center;
}

h1 {
  text-align: center;
}

form {
  max-width: 30%;
  margin: auto;
  font-size: 1.5rem;
}

form .input-wrap {
  display: grid;
  margin-bottom: var(--spacing-m);
}

form #input-name {
  width: 100%;
}

form #input-price,
#input-quantity {
  width: 150px;
}

form label {
  cursor: pointer;
}

form input {
  font-size: 1.5rem;
  padding: var(--spacing-s);
  border-radius: var(--spacing-s);
  border: none;
  outline: none;
}

form .add-button {
  width: 100%;
  background-color: green;
  padding: var(--spacing-s);
  border-radius: var(--spacing-s);
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: var(--spacing-l);
}

form .active-wrap {
  display: flex;
  justify-content: start;
  align-items: center;
}

form .active-wrap select {
  font-size: 1.25rem;
  margin-left: var(--spacing-s);
}
